.daily_regisrationContainer {
  width: 100%;
  padding: 20px;
  background-clip: content-box;
  background-color: #fff;
  .dailydata_header {
    background-color: #fff;
  }
  .dailydata_content {
    background-color: #fff;
    padding-left: 50px;
    padding-right: 50px;
  }
}
